div.centerFrame{
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   overflow: hidden;
	z-index: 999px;
}
div.comicPanel{
		height: 500px;
		border-top: 2px solid black;
		border-right: 4px solid black;
		border-bottom: 3px solid black;
		border-left: 2px solid black;
		border-width: 3px 3px 3px 3px;
		border-radius:95% 2% 95% 2%/3% 95% 3% 95%;
  		transform: rotate(1deg);
		overflow: hidden;
		margin: 5px 2px;
		background-color: rgba(255, 255, 255, 1);		
}
div.picView{
		height: 440px;
}
#bubbleLvl1{
		max-height:300px;
		max-width: 450px;
		border: 1.3px solid black;
		border-radius: 10px;
		word-wrap: break-word;
		background-color: rgba(255,255,255,.7);
		position: relative;
		left: 10px;
		top: 10px;
		text-align: justify;
		float: right;
		padding: 2px 7px;
		margin: 1px 9px;
		font-size: 18px;
		font-family:"Comic Sans MS", cursive, sans-serif;  position:relative;
}
#bubbleLvl1::after{
		content: "";
		border-top: 10px solid transparent;
		border-right: 20px solid white;
		border-bottom: 9px solid transparent;	
		position: absolute;
		left: -19px;
		top: 140px;
}
#bubbleLvl1::before{
		content:"";
		border-top: 11px solid transparent;
		border-right: 21px solid black;
		border-bottom: 11px solid transparent;	
		position: absolute;
		left: -21px;
		top: 139px;			
}
#bubbleLvl2{
		max-height: 200px;
		max-width: 350px;
		border: 1.3px solid black;
		border-radius: 10px;
		word-wrap: break-word;
		background-color: rgba(255,255,255,.7);
		position: relative;
		left: 10px;
		top: 10px;
		text-align: justify;
		float: right;
		padding: 2px 7px;
		margin: 1px 9px;
		font-size: 18px;
		font-family:"Comic Sans MS", cursive, sans-serif;  position:relative;
}
#bubbleLvl2::after{
		content: "";
		border-top: 10px solid transparent;
		border-right: 20px solid white;
		border-bottom: 9px solid transparent;	
		position: absolute;
		left: -19px;
		top: 100px;
}
#bubbleLvl2::before{
		content:"";
		border-top: 11px solid transparent;
		border-right: 21px solid black;
		border-bottom: 11px solid transparent;	
		position: absolute;
		left: -21px;
		top: 99px;			
}
#bubbleLvl3{
		max-height: 200px;
		max-width: 350px;
		border: 1.3px solid black;
		border-radius: 10px;
		word-wrap: break-word;
		background-color: rgba(255,255,255,.7);
		position: relative;
		text-align: justify;
		float: right;
		padding: 2px 7px;
		font-size: 18px;
		font-family:"Comic Sans MS", cursive, sans-serif;  position:relative;
		margin: 10px auto;
}
#bubbleLvl3::after{
		content: "";
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 29px solid white;	
		position: absolute;
		left: 19px;
		top: 130px;
}
#bubbleLvl3::before{
		content:"";
		border-left: 21px solid transparent;			
		border-right: 21px solid transparent;		
		border-top: 30px solid black;
		position: absolute;
		left: 18px;
		top: 132px;			
}
#bubbleLvl4{
		max-height: 400px;
		max-width: 550px;
		border: 1.3px solid black;
		border-radius: 10px;
		word-wrap: break-word;
		background-color: rgba(255,255,255,.7);
		position: relative;
		left: 10px;
		top: 10px;
		text-align: justify;
		float: right;
		padding: 2px 7px;
		margin: 1px 9px;
		font-size: 18px;
		font-family:"Comic Sans MS", cursive, sans-serif;  position:relative;
}
#bubbleLvl4::after{
		content: "";
		border-top: 10px solid transparent;
		border-right: 20px solid white;
		border-bottom: 9px solid transparent;	
		position: absolute;
		left: -19px;
		top: 140px;
}
#bubbleLvl4::before{
		content:"";
		border-top: 11px solid transparent;
		border-right: 21px solid black;
		border-bottom: 11px solid transparent;	
		position: absolute;
		left: -21px;
		top: 139px;			
}