div.level.three{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #b0e0e6;
}
div.comicPanel{
		height: 300px;
		border: 8px solid white;	
		margin: 5px 2px;
		background-color: rgba(220, 222, 222, .6);
}
	#bubble{
		max-height: 180px;
		max-width: 250px;
		border-radius: 10px;
		word-wrap: break-word;
		background-color: white;
		position: relative;
		left: 10px;
		top: 10px;
		text-align: justify;
		float: right;
		padding: 2px 7px;
	}
	#bubble::after{
		content: "";		
		border-top: 10px solid transparent;
		border-right: 20px solid white;
		border-bottom: 10px solid transparent;	
		position: absolute;
		left: -20px;
		top: 10px;
	}