@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
body {
  font-family:Roboto;
  text-rendering: optimizeLegibility!important;
  font-size:.9em;
  font-weight: 300;
  margin:0;
}
* {
  margin:0;
  padding:0;
  transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
#icons > a { 
	margin:0 auto;
	color:rgba(120,120,120,1);
}
a, a:visited {
  color:rgba(220,220,220,.8);
  text-decoration:none;
}
#icons > a:nth-child(2):hover { color:LightSeaGreen ; }
#icons > a:nth-child(3):hover { color:LightGreen; }
#icons > a:nth-child(4):hover { color:HotPink; }
#icons > a:nth-child(5):hover { color:LightSteelBlue; }
#icons > a:nth-child(5):hover { color:red; }

h1, h2, p { color:#000; }
h2 { padding-top:60px; }

ul { list-style: none; }
.container {
	width:550px; 
	margin:0 auto;
}
.icon {
	text-decoration:none;
  	font-size:2em;
  	padding:20px 30px;
  	font-weight: bold;
  	border-radius: 2%;
  	background-color: #F7DDCC;
  	border: .5px solid black;	
}
.icon:hover {
  	box-shadow: 
  		0 10px 20px 0 rgba(0, 0, 0, 0.19),
   	0 12px 17px 0 rgba(0, 0, 0, 0.2);
  	text-decoration: none;
	transform : scale(1.05);
	-moz-transform : scale(1.05);
	-webkit-transform : scale(1.05);
}
#icons {
	color: rgba(120, 120, 120, 1);
}
.level { text-align: center; }
#menu {
  background: rgba(0,0,0,.5)!important;
  position:fixed;
  height:50px;
  width:100%;
  top:-55px;
  left:0;
  color:#ccc;
  font-size: 1.7em;
  transition: all 0.5s ease;
}
#top {
  height:100vh;
  background:#F7DDCC;
}
.one, .two, .three, .four {
  min-height:calc(100vh + 200px);
  max-height:1000px;
  margin: -20px 0px;
}

.one, .sel:nth-child(2) { background:LightSeaGreen ; }
.two, .sel:nth-child(3) { background:LightGreen; }
.three, .sel:nth-child(4) { background:HotPink; }
.four, .sel:nth-child(5) { background:LightSteelBlue ; }
.five, .sel:nth-child(6) { background:red ; }

#menu li.sel a{
	font-style: strong!important;
	color: black;
}
#footer {
  position:fixed;
  height:250px;
  width:100%;
  left:0;
  
  background: rgba(0,0,0,.8)!important;
  padding:1rem 0;
  color: rgba(220,220,220,.8);
}
#menu, #footer { background: #000 }
.up {
  top:calc(100vh - 150px);
}
.middle { top:calc(100vh - 50px) }
.down { top:calc(100vh) }
#social {
  display:block;
}
svg {
  width:50px;
  height:50px;
}
li{
	display: inline;
	margin: 0 10px;
}
img#about{
	position: relative;
	top: 40px;
	left: 250px;
	transition: all 1.5s ease;
	z-index:0;
}
div#top{
	z-index:1;
}
@keyframes movingUp{
	to{
		top: 0px;
	}
}

.moveUp{
	animation: movingUp;
}
@media (max-width:670px){
	.icon {
  background-color: blue;
  font-size:1.5em;
  }
}

@media (max-width:600px){
	.icon {
  text-decoration:none;
  font-size:1em;
  padding:22px 3px;
  font-weight: normal;
  border-radius: 2%;
  background-color: red;
  border: 2px solid white;
	margin: 0 10px;
	text-decoration: none;
	width: 20px;
	height: 220px;
	top: -11px;
	margin: 0 auto;
	}
}
#footer > .container > h3{
	margin-top: 1px;
}
#footer > .container > h3:hover {
	cursor:pointer;
   color: white;
}

