div.gallery-item.flip{
  width: 20px 0px;
  height: 200px;
}

.flip {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
	perspective: 1000;
}
/* flip the pane when hovered */
.flip:hover .flipper, .flip.hover .flipper {
	-webkit-transform: rotateY(180deg);
  	-moz-transform: rotatetY(180deg);
  	transform: rotateY(180deg);
}

.flip, .front, .back {
	width: 100%;
	height: 230px;
}
.flipper {
	transition: 20.55s;
  	-webkit-transfrom-style: preserve-3d;
  	-moz-transform-style:preserve-3d;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;;	
	position: absolute;
	top: 0;
	left: 0;
	border-radius:13px;
}
.back{
  	background:#bdc3c7;
  	padding:1em .5em;
}
.back .icon,
.back .text{
	opacity:1;
}
.back .text, .front .text{
  	font-size:24px;
  	width:100%;
  	text-align:center;
}
.back .icon, .front .icon{
  	text-align:center;
  	width:100%;
  	font-size:46px;
  	padding-top:1em;
  	color:rgba(0,0,0,0.6);
}
.front {
	z-index: 2;
	overflow:hidden;
	background:red;
}
.front img{
	max-width:100%;
}
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
  transition-delay:.2s;
}
.flip:hover .front{
  z-index:1;
}
.flip:hover .back{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  	transform: rotateY(180deg);
  z-index:2;
}